<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>



  <div>
  <%= form.label :title, "Título" %>
  <%= form.text_field :title %>
</div>

<div>
  <%= form.label :content_type, "Tipo de Conteúdo" %>
  <%= form.select :content_type, Post.content_types.keys.map { |type| [type.titleize, type] } %>
</div>

<div>
  <%= form.label :content, "Conteúdo (Arraste vídeos e imagens aqui)" %>
  <%= form.rich_textarea :content %>
</div>





 

  <div>
    <%= form.label :published_at, style: "display: block" %>
    <%= form.datetime_field :published_at %>
  </div>
  

  <div>
    <%= form.submit %>
  </div>
<% end %>
