<p style="color: green"><%= notice %></p>

<% content_for :title, "Posts" %>

<h1>Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post,  class: "inline-block text-red-500"   %>
    </p>
    <%= button_to "Deletar", post, method: :delete, 
        data: { confirm: "Deseja apagar este post?" },
        class: "inline-block text-red-500" %>
  <% end %>
</div>
<hr/>
<%= link_to "New post", new_post_path %>
