<%# app/views/posts/show.html.erb %>

<h1><%= @post.title %></h1>

<%# A classe trix-content é essencial para que o CSS do editor seja aplicado %>
<div class="trix-content mb-4">
  <%= @post.content %>
</div>



<%= button_to "Excluir Post", @post, method: :delete, 
    data: { confirm: "Tem certeza?" }, 
    class: "text-red-600 hover:underline" %>

<%= link_to "Editar", edit_post_path(@post) %> |
<%= link_to "Voltar", posts_path %>