<!DOCTYPE html>
<html>
  <head>

  <title><%= content_for(:title) || "Meu Blog Rails 8" %></title>
  <meta name="description" content="<%= content_for(:description) || "Dicas de programação, Rails e tecnologia." %>">
   
    <%# Tags para Redes Sociais (Open Graph) %>
    <meta property="og:title" content="<%= content_for(:title) || "Meu Blog" %>">
    <meta property="og:description" content="<%= content_for(:description) || "Confira meu último post!" %>">
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= request.original_url %>">
    
 
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
  </head>

<body class="min-h-screen bg-gray-50 font-sans antialiased text-gray-900 flex flex-col">
  <%= render "layouts/navbar" %> <%# Se você moveu a navbar para um partial %>
  <%= render "layouts/flash" %> <%# A mágica acontece aqui %>


 
  <div class="flex-grow">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 py-12">
      <%= yield %>
    </div>
  </div>

  <footer class="bg-white border-t border-gray-200 py-8">
    <div class="mx-auto max-w-7xl px-4 text-center text-sm text-gray-500">
      &copy; <%= Time.current.year %> - Blog em Rails 8. Construído com Tailwind CSS.
    </div>
  </footer>

</body>
</html>
